<app-layout>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <app-tile [title]="'Make Transfer'">
          <app-transfer-money-form></app-transfer-money-form>
        </app-tile>
      </div>

      <div class="col-8">
        <app-tile [title]="'Transactions List'" [hasRoundedBottomBorder]="false">
          <app-transactions-list
            [transactions]="transactions"
          ></app-transactions-list>
        </app-tile>
      </div>
    </div>
  </div>
</app-layout>
